body{
  margin: 0;
}
p{
  margin: 0;
}
.header{
  background: #29487d;
  color: white;
}
.container{
  width: 80%;
  margin: auto;
} 
#fb{
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 8px;
}
.aHalfWidth{
  width: 50%;
}
.wrapLogo{
  /*width: 50%;*/
}
.wrapSignIn{
  /*width: 50%;*/
}
.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.wrapEmail{
  margin: 0 8px;
  /* flex-direction: column; */
}
.wrapKataSandi{
  margin: 0 8px;
  /* flex-direction: column; */
}
.wrapBtnLogIn{
  margin: 0 8px;
  justify-content: center;
}

